#header {
    height: 90px;
}
.home {
    background: url('../image/logo.png.png') no-repeat center center;
    background-size: contain;
}
.home {
    background: url('../image/logo.png.png') no-repeat center center;
    background-size: contain;
}
#headerTop {
    background: #f3f3f3;
}

.containerHead {
    text-align: right;
    height: 30px;
    width: 1000px;
    margin: 0 auto;
}

.unlogin {
    /* width:64px; */
    padding-right: 5%;
}

.unlogin a {
    display: inline-block;
    /* display: none; */
    *display: inline;
    /*兼容ie 6 7*/
    *zoom: 1;
    /*兼容ie 6 7*/
    vertical-align: middle;
    /*兼容ie 6 7*/
    font-size: 12px;
    margin-right: 10px;
    text-decoration: none;
    color: #6e6e6e;
    cursor: pointer;
}

.unlogin a:hover {
    color: #ff7f00;
}

.logined,
.uinfor,
.top,
.setting {
    display: inline-block;
    *display: inline;
    /*兼容ie 6 7*/
    *zoom: 1;
    /*兼容ie 6 7*/
    vertical-align: middle;
    /*兼容ie 6 7*/
    font-size: 12px;
    color: #6e6e6e;
}

.logined a {
    text-decoration: none;
    color: #6e6e6e;
}

.top,
.setting {
    width: 75px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    /* color: #6e6e6e; */
    background: #f3f3f3;
}

.setting:hover {
    color: #ff7f00;
    background: #fff;
}

.top:hover {
    color: #ff7f00;
    background: #fff;
}

.select {
    background: #fff;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 100;
}

.select a:hover {
    color: #ff7f00;
}

.uinfor {
    margin-right: 20px;
    letter-spacing: 2px;
}

#nav {
    width: 1000px;
    margin: 0 auto;
    /* border-bottom: 2px solid #ff5e00; */
}

.wrip {
    width: 100%;
    border-bottom: 2px solid #ff5e00;
}

#select {
    margin-right: -12px;
    float: right;
}

#nav a {
    display: inline-block;
    *display: inline;
    /*兼容ie 6 7*/
    *zoom: 1;
    /*兼容ie 6 7*/
    vertical-align: middle;
    /*兼容ie 6 7*/
    width: 100px;
    height: 60px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 60px;
    color: #6e6e6e;
    text-align: center;
    text-decoration: none;
    /* margin-left:  */
}

#select a:hover {
    background: #ff7f00;
    color: #fff
}

.hat {
    display: inline-block;
    *display: inline;
    /*兼容ie 6 7*/
    *zoom: 1;
    /*兼容ie 6 7*/
    vertical-align: middle;
    /*兼容ie 6 7*/
    width: 19px;
    height: 17px;
    line-height: 14px;
    background: url('../image/nav_icon.gif') no-repeat center center;
}

#BHhomeFooter {
    height: 250px;
    padding-top: 25px;
    text-align: center;
    font: 12px/20px microsoft yahei;
    line-height: 24px;
    color: #bdbdbd;
    border-top: 1px solid #e8e8e8;
    background: #fff;
    overflow: hidden;
    zoom: 1;
}

#BHhomeFooter .homeTxt p a {
    padding: 0 10px;
    text-decoration: none;
    color: #bdbdbd;
}

#BHhomeFooter a.Icon1,
#BHFooter a.Icon1 {
    /* width: 50px; */
    padding-left: 56px;
    background-position: 0 -72px;
}

#BHhomeFooter a.Icon2,
#BHFooter a.Icon2 {
    width: 60px;
    padding-left: 40px;
    background-position: -48px -32px;
}

#BHhomeFooter a.Icon3,
#BHFooter a.Icon3 {
    width: 50px;
    padding-left: 45px;
    background-position: 0 -112px;
}

#BHhomeFooter a.Icon4,
#BHFooter a.Icon4 {
    width: 55px;
    padding-left: 57px;
    color: #FFF;
    line-height: 40px;
    background-position: 0 -152px;
}

#BHhomeFooter a.Icon5,
#BHFooter a.Icon5 {
    width: 55px;
    padding-left: 34px;
    background-position: 0 -212px;
}

#BHhomeFooter a.Icon6,
#BHFooter a.Icon6 {
    /* width: 110px; */
    padding-left: 50px;
    line-height: 40px;
    background: url(http://images9.baihe.com/home/logoInter.gif) no-repeat;
}

#BHhomeFooter a.Icon7,
#BHFooter a.Icon7 {
    /* width: 50px; */
    height: 38px;
    padding: 2px 0 0 42px;
    line-height: 16px;
    background: url(http://images9.baihe.com/home/logo3A.gif) no-repeat 3px 2px;
    text-align: center;
}

#BHhomeFooter a.Icon8,
#BHFooter a.Icon8 {
    /* width: 42px; */
    margin-right: 0px;
    height: 40px;
    text-indent: -9999px;
    background: url(http://images9.baihe.com/home/LogoCX.png) no-repeat 3px 2px;
    text-align: center;
}

#BHFooter {
    height: 200px;
    padding-top: 25px;
    font-size: 12px;
    line-height: 24px;
    color: #999;
    text-align: left;
    border-top: 1px solid #e8e8e8;
    background: #fff;
    overflow: hidden;
    zoom: 1;
    margin-top: 40px;
}

#BHFooter a {
    color: #999;
}

#BHFooter .cont {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

#BHFooter .logo {
    float: left;
    width: 80px;
    height: 90px;
    /* padding: 17px 0 0 25px; */
    overflow: hidden;
    zoom: 1;
}

#BHFooter ul li {
    /* float: left; */
    margin-left: 25px;
    padding: 0 0 0 25px;
    border-left: 1px solid #ccc;
    overflow: hidden;
    zoom: 1;
}

#BHFooter ul li a:hover {
    text-decoration: underline;
}

#BHFooter p {
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
}

#BHFooter p a,
#BHFooter .approve a {
    color: #333;
}

#BHFooter a.Icon4 {
    color: #fff;
}

#BHFooter li,
#BHFooter li span {
    color: #999;
}

#content{
    width:1000px;
    height:600px;
    margin:0 auto;
}
.data {
    float: left;
    width: 500px;
    height: 200px;
}
.pic{
    float: left;
    width:500px;
    height:500px;
    margin-top:2px;
}
.pic img{
    width:500px;
    height:500px;
    margin-top:2px;
}
.others{
    margin-top:20px;
    width:500px;
    height:160px;
}
.others div{
    height:40px;
    width:200px;
    line-height: 50PX;
    display: inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: middle;
    padding:20px 20px;
    font-size: 14px;
}
/* .others div span{
} */
.year,.height,.area,.diploma{
    font-size: 14px;
    color:#333;
}
.name{
    font-size: 21px;
    /* width:px; */
    height:30px;
    line-height: 30px;
    margin-left:20px;
    margin-top:20px;
    color:#333;
}
.buttons a{
    display: block;
    float: left;
    width: 160px;
    height:50px;
    line-height: 50px;
    margin: 0 20px;
    /* padding-left: 45px; */
    background: #fe8b00;
    color:#fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;

}
.buttons a:hover{
    background: #fb5d00;
}
.intro{
    margin-top:40px;
    float: left;
    width:500px;
    height:200px;
}
.intro span{
    margin-bottom:20px;
    margin-left: 20px;
    color:#fe8b00;
}
.intro p {
    margin-left: 20px;
    width: 500px;
    height: 176px;
    color:#000;
    font-size: 12px;
    padding-top:20px;
    text-indent: 4px;
    /* letter-spacing: 1px; */
}

/* 对话弹出层 */
#dialog_content {
    position: fixed;
    top: 25%;
    left: 25%;
    margin-top: -50%;
    margin-left: -50%;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#mask {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 500px;
    height: 280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
}

#dialog_content textarea {
    position: absolute;
    top: 30px;
    width: 480px;
    height: 100px;
    padding: 19px 10px;
    overflow: auto;
    margin: 0 auto;
    text-align: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #FFFFFF;
    resize: none;
    overflow: scroll;
    overflow-x: hidden;
    border: none;
    border-top: 1px solid #000;
    outline: none;
    background: beige;
}

.msg_inpt {
    z-index: 20;
}

.close {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    margin-right: 0;
    color: #fff;
    cursor: pointer;
}

.send {
    position: absolute;
    top: 169px;
    left: 32.5%;
    /* margin-left:-50%; */
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    background: #ff7f00;
    color: #fff;
    margin: 20px auto;
    line-height: 40px;
    cursor: pointer;
}