#header {
    height: 90px;
    background: url('../image/header.png') no-repeat center center;
    background-size: cover;
}

#headerTop {
    background: #f3f3f3;
}

.containerHead {
    text-align: right;
    height: 30px;
    width: 1000px;
    margin: 0 auto;
}

.unlogin {
    /* width:64px; */
    padding-right: 5%;
}

.unlogin a {
    display: inline-block;
    /* display: none; */
    *display: inline;
    /*兼容ie 6 7*/
    *zoom: 1;
    /*兼容ie 6 7*/
    vertical-align: middle;
    /*兼容ie 6 7*/
    font-size: 12px;
    margin-right: 10px;
    text-decoration: none;
    color: #6e6e6e;
    cursor: pointer;
}

.unlogin a:hover {
    color: #ff7f00;
}

.logined,
.uinfor,
.top,
.setting {
    display: inline-block;
    *display: inline;
    /*兼容ie 6 7*/
    *zoom: 1;
    /*兼容ie 6 7*/
    vertical-align: middle;
    /*兼容ie 6 7*/
    font-size: 12px;
    /* color: #6e6e6e; */
}

.logined a {
    text-decoration: none;
    color: #6e6e6e;
}

.top,
.setting {
    width: 75px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    /* color: #6e6e6e; */
    background: #f3f3f3;
}

.setting:hover {
    color: #ff7f00;
    background: #fff;
}

.top:hover {
    color: #ff7f00;
    background: #fff;   
}

.select {
    background: #fff;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 100;
}

.select a:hover {
    color: #ff7f00;
}

.uinfor {
    margin-right: 20px;
    letter-spacing: 2px;
}

#nav {
    width: 1000px;
    margin: 0 auto;
    /* border-bottom: 2px solid #ff5e00; */
}
.wrip{
    width:100%;
    border-bottom: 2px solid #ff5e00;
}
#select {
    margin-right: -12px;
    float: right;
}

#nav a {
    display: inline-block;
    *display: inline;
    /*兼容ie 6 7*/
    *zoom: 1;
    /*兼容ie 6 7*/
    vertical-align: middle;
    /*兼容ie 6 7*/
    width: 100px;
    height: 60px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 60px;
    color: #6e6e6e;
    text-align: center;
    text-decoration: none;
    /* margin-left:  */
}

#select a:hover {
    background: #ff7f00;
    color: #fff
}
.hat {
    display: inline-block;
    *display: inline;
    /*兼容ie 6 7*/
    *zoom: 1;
    /*兼容ie 6 7*/
    vertical-align: middle;
    /*兼容ie 6 7*/
    width: 19px;
    height: 17px;
    line-height: 14px;
    background: url('../image/nav_icon.gif') no-repeat center center;
}



#BHhomeFooter {
    height: 250px;
    padding-top: 25px;
    text-align: center;
    font: 12px/20px microsoft yahei;
    line-height: 24px;
    color: #bdbdbd;
    border-top: 1px solid #e8e8e8;
    background: #fff;
    overflow: hidden;
    zoom: 1;
}

#BHhomeFooter .homeTxt p a {
    padding: 0 10px;
    text-decoration: none;
    color: #bdbdbd;
}

#BHhomeFooter a.Icon1,
#BHFooter a.Icon1 {
    /* width: 50px; */
    padding-left: 56px;
    background-position: 0 -72px;
}

#BHhomeFooter a.Icon2,
#BHFooter a.Icon2 {
    width: 60px;
    padding-left: 40px;
    background-position: -48px -32px;
}

#BHhomeFooter a.Icon3,
#BHFooter a.Icon3 {
    width: 50px;
    padding-left: 45px;
    background-position: 0 -112px;
}

#BHhomeFooter a.Icon4,
#BHFooter a.Icon4 {
    width: 55px;
    padding-left: 57px;
    color: #FFF;
    line-height: 40px;
    background-position: 0 -152px;
}

#BHhomeFooter a.Icon5,
#BHFooter a.Icon5 {
    width: 55px;
    padding-left: 34px;
    background-position: 0 -212px;
}

#BHhomeFooter a.Icon6,
#BHFooter a.Icon6 {
    /* width: 110px; */
    padding-left: 50px;
    line-height: 40px;
    background: url(http://images9.baihe.com/home/logoInter.gif) no-repeat;
}

#BHhomeFooter a.Icon7,
#BHFooter a.Icon7 {
    /* width: 50px; */
    height: 38px;
    padding: 2px 0 0 42px;
    line-height: 16px;
    background: url(http://images9.baihe.com/home/logo3A.gif) no-repeat 3px 2px;
    text-align: center;
}

#BHhomeFooter a.Icon8,
#BHFooter a.Icon8 {
    /* width: 42px; */
    margin-right: 0px;
    height: 40px;
    text-indent: -9999px;
    background: url(http://images9.baihe.com/home/LogoCX.png) no-repeat 3px 2px;
    text-align: center;
}

#BHFooter {
    height: 200px;
    padding-top: 25px;
    font-size: 12px;
    line-height: 24px;
    color: #999;
    text-align: left;
    border-top: 1px solid #e8e8e8;
    background: #fff;
    overflow: hidden;
    zoom: 1;
    margin-top: 40px;
}

#BHFooter a {
    color: #999;
}

#BHFooter .cont {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

#BHFooter .logo {
    float: left;
    width: 80px;
    height: 90px;
    /* padding: 17px 0 0 25px; */
    overflow: hidden;
    zoom: 1;
}

#BHFooter ul li {
    /* float: left; */
    margin-left: 25px;
    padding: 0 0 0 25px;
    border-left: 1px solid #ccc;
    overflow: hidden;
    zoom: 1;
}

#BHFooter ul li a:hover {
    text-decoration: underline;
}

#BHFooter p {
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
}

#BHFooter p a,
#BHFooter .approve a {
    color: #333;
}

#BHFooter a.Icon4 {
    color: #fff;
}

#BHFooter li,
#BHFooter li span {
    color: #999;
}



.container {
    width:1000px;
    height:840px;
    margin:0 auto;
}
.wayWriper{
    width:1000px;
    border-top:2px solid #ff7f00; 
    height:60px;
    border-bottom: 1px solid #ff7f00;
    margin-top:2px;
}
.Way {
    float: left;
    margin-left:50px;
    /* height:60px; */
    
}
.Way div{
    display:inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align:middle;
    height:60px;
    width:200px;
    text-align: center;  
}
/* .way1 {
     background:#ff7f00;
     color:#fff;
} */
.way1,.way2{
    position: relative;
}

.Way label{
    display: block;
    height:60px;
    line-height: 60px;
    /* margin-top:0%; */

}
.Way div label{
    font-size:18px;
    letter-spacing: 2px;
}
/* .Way div label:hover{
    background:#ff7f00;
    color:#fff;
} */
.container span {
    float: left;
    display: block;
    height:60px;
    font-size:24px;
    line-height: 60px;
    margin-right: 20px;
}

.condition{
    width:1000px;
    height:100px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;

}
.inpt input{
    padding:15px 10px   ;
    width:500px;
    height:25px;
    /* margin:0 auto; */
    margin:25px 238px;

}   
.conditions{
    display: none;
}
.conditions div{
    width:600px;
    height:30px;
    margin: 0 auto;
    text-align: center;
    /* margin-top:3px; */
}
.conditions label{
    display: block;
    height:30px;
    width:200px;
    float: left;
    line-height: 30px;
}
.conditions input{
    height:18px;
    width:200px;
    float: left;
    padding:3px 2px;
    margin-top:3px;
    line-height: 18px;
    /* display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align: middle */
}
.conditions span{
    height: 30px;
    font-size: 12px;
    width:40px;
    text-align: center;
    line-height: 30px;
}
.startSearch{   
    width: 200px;
    height:50px;
    margin:0 auto;
    letter-spacing: 4px;
    text-align: center;
    font-size:20px;
    line-height: 50px;
    cursor: pointer;
    /* border-top: 2px solid #ff7f00; */
    border-bottom: 2px solid #ff7f00;
}
.results{
    width:1000px;
    height:600px;
    margin: 0 auto;
    overflow-y: scroll;
}
/* 结果展示 */
#message-container {
    float: left;
    width: 347px;
    height: 185px;
    color: #333;
    overflow: hidden;
    zoom: 1;
}

#message-container .photo {
    float: left;
    width: 120px;
    height: 150px;
    overflow: hidden;
    zoom: 1;
}

#message-container .infor {
    float: left;
    width: 184px;
    height: 150px;
    padding: 0 0 0 15px;
    overflow: hidden;
    zoom: 1;
}

#message-container strong {
    display: block;
    height: 29px;
    font-size: 16px;
    line-height: 26px;
}

#message-container span {
    display: block;
    height: 40px;
    padding: 3px 0;
}

#message-container p {
    width: 172px;
    height: 50px;
    color: #bdbdbd;
}

#message-container a {
    float: left;
    width: 80px;
    margin-right: 12px;
}


.hello{
    width:1000px;
    height:50px;
    margin:0 auto;
    font-size: 14px;
    text-align: left;
    line-height: 50px;
}
.hello span{
    color:#ff7f00;
}

/* 查询结果 */

.user_data {
    width: 600px;
    height: 70px;
    margin: 5px auto;
    border: 1px solid #000;
    background: rgb(236, 234, 234);
    border-left: none;
    border-right: none;
}

.pic {
    float: left;
    width: 46px;
    height: 46px;
    margin: 12px 0;
    border: 1px solid #000;
    margin-left: 20px;
}

.pic img {
    width: 100%;
    height: 100%;
}

.other_data {
    float: right;
    height: 46px;
    width: 500px;
    margin: 12px 0;
    line-height: 46px;
}

.other_data span {
    font-size: 14px;
    float: left;
    margin-top: -9px;
}

.other_data .btns {
    float: right;
    height: 46px;
}

.other_data a {
    float: right;
    display: block;
    height: 26px;
    width: 70px;
    margin: 10px 20px 0 10px;
    /* margin-right:20px; */
    font: 13px/24px "Microsoft Yahei";
    color: #fff;
    text-align: center;
    background: #ff5a4d;
    overflow: hidden;
    zoom: 1;
    cursor: pointer;
    text-decoration: none;
}

/* 对话弹层 */

#dialog_content {
    position: fixed;
    top: 25%;
    left: 25%;
    margin-top: -50%;
    margin-left: -50%;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#mask {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 500px;
    height: 280px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
}

#dialog_content textarea {
    position: absolute;
    top: 30px;
    width: 480px;
    height: 100px;
    padding: 19px 10px;
    overflow: auto;
    margin: 0 auto;
    text-align: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #FFFFFF;
    resize: none;
    overflow: scroll;
    overflow-x: hidden;
    border: none;
    border-top: 1px solid #000;
    outline: none;
    background: beige;
}

.msg_inpt {
    z-index: 20;
}

.close {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    margin-right: 0;
    color: #fff;
    cursor: pointer;
}

.send {
    position: absolute;
    top: 169px;
    left: 32.5%;
    /* margin-left:-50%; */
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    background: #ff7f00;
    color: #fff;
    margin: 20px auto;
    line-height: 40px;
    cursor: pointer;
}

/* 查看图片 */
.showpic {
    display: none;
    position: fixed;
    top:400px;
    width:920px;
    height:220px;
    margin:0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.5);
    filter:alpha(50);
}
.showpic .photos {
    width: 200px;
    height: 200px;
    float: left;
    margin:10px 10px;
    position: relative;
}
.showpic .photos img{ 
    width:200px;
    height:200px;
    border: 2px solid #ccc;
}
.show .title {
    display: none;
    position: fixed;
    top:370px;
    width:920px;
    height:30px;
    margin:0 auto;
    background: rgba(0, 0, 0, 0.5);
    filter:alpha(50);
    color:#fff;
    border-bottom: 1px solid #fff;
}
.show .title i{
    height:30px;
    line-height: 30px;
    margin-left: 20px;
}
.title span{
    float: right;
    width:30px;
    height:30px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}
.container .showpic .delPhoto {
    position: absolute;
    left:3px;
    width:200px;
    height:30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    background: #ff7f00;
    margin-top:-30px;
    text-align: center;
}
.home{
    background:url('../image/logo.png.png') no-repeat center center;
    background-size: contain; 
}
/* .showpic .photos img:hover{
    transform: scale(1.2) 0.8s;
} */

.selected {
    background: #ff7f00;
    color: #fff;
}